body {
	background-color: 	white;
	font-family: 'Risque', cursive;
    font-family: 'Berkshire Swash', cursive;
	text-align: center;
	letter-spacing: 1.5px;
}

#container {
	max-width: 90%;
	margin: 10px auto;
}

#canvas{
    /* width: 70%;
    height: 400px; */
    background-color: white;
    border: .3em solid black;
    margin: 10px auto;
}


.circlebtn {
    border: none; 
    color: white; 
    padding: 12px 11.7px; 
    cursor: pointer; 
    border: .1em solid black;
    background: url(imgs/circle.png) no-repeat;
    }
.rectanglebtn {
    border: none; 
    color: white; 
    padding: 12px 11.8px; 
    cursor: pointer; 
    border: .1em solid black;
    background: url(imgs/rectangle.png) no-repeat;
    }   
 .circlebtn:hover{
     background-color: rgb(197, 186, 186);
 }   
 .rectanglebtn:hover{
    background-color: rgb(197, 186, 186);
}